@import '../../node_modules/@opqa/uiui/dist/scss/Root.module.scss';
.bottomDock {
  @extend %bottomDock;
  background: linear-gradient(20deg, rgba(210, 200, 200, 0.2), rgba(255, 235, 215, 0.1) 50%);
  padding: 10px 20px;
  &:after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0px;
    pointer-events: none;
    box-shadow: inset 0 -20px 40px rgba(0, 0, 0, 0.1);
  }
}
