@import '../../node_modules/@opqa/uiui/dist/scss/UiUiBaseTheme.scss';
.vars {
  @include UiUiBaseVars;
  --u1: 1.5pt;
  --label-color: #222;
  --label-size:  var(--u4);
  --input-label-size:  var(--u4);
  --value-size:  var(--u4);
  --dock-background: transparent;
  --panel-background: radial-gradient(circle at 0% 20%, rgba(250,240,230,0.5), rgba(255,220,220,0.1));
}

