html {
  background: radial-gradient(#d9d9d9 0, #fff 100%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bti {
  position: absolute;
  z-index: 2;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  top: 10px;
  padding: 2px 10px;
  font-size: 9px;
}

#main-list {

  #main-list_ui {
    width: 300px;
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 100px auto;
    padding: 50px;
    box-shadow: 0px 0px 15px rgba(255,255,255, 0.1);
    border-radius: 20px;
    position: relative;
    z-index: 2;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px) brightness(1.6);
    --webkit-clip-path: url(#uiui-clip-path);
    clip-path: url(#uiui-clip-path);
    > img {
      max-width: 150px;
      margin: 0 auto 30px;
    }
  }
  #logos {
    position: absolute;
    bottom: -25px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    img {
      max-height: 40px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  h1 {
    font-size: 70px;
    letter-spacing: -.08em;
    line-height: 77%;
    margin-top: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    a {
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 100;
      padding: 10px;
      display: block;
      border-bottom: .01em solid rgba(255, 255, 255, 0.5);
      transition: all .3s;
      &:hover {
        background:  rgba(255, 255, 255, 1);
        color: #000;
        font-weight: 400;
      }
    }
  }

}